.footer{
    font-size: 13px;
    color: $clr-grey-1;
    padding-bottom: 24px;

    &__title{
        color: $clr-blue-2;
        padding-bottom: 20px;
       
    }
    &__company{
        padding-right: 50px;
    }

    &__line{
        margin: 50px 0px;
        width: 100%;
        border: solid #b9b9b9 1px;
    }

    &__link{
        font-weight: 400;
        color: $clr-grey-1;
        &:hover{
            color: $clr-blue-2;
        }
        &--active{
            color: $clr-blue-2;
        }
    }

    &__icon{
        float: right;
        margin-right: 24px;
        width: 24px;
        height: 24px;
    }
}